@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?6tt51o');
    src:  url('fonts/icomoon.eot?6tt51o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6tt51o') format('truetype'),
    url('fonts/icomoon.woff?6tt51o') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
    content: "\f002";
}
.icon-heart:before {
    content: "\f004";
}
.icon-calendar:before {
    content: "\f073";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-paper-plane:before {
    content: "\f1d8";
}
.icon-phone2:before {
    content: "\e0cd";
}
.icon-chat:before {
    content: "\e0b7";
}
.icon-person:before {
    content: "\e7fd";
}
