@media (max-width: 1200px) {
    .container{
        max-width: 1140px;
    }

}
@media (max-width: 992px) {
    .menu-header{
        background-color: black !important;
        top: 0 !important;
    }
    .container {
            max-width: 960px;
    }

    .feature-txt h3{
        color: black;
    }
    .feature-txt p{
        color: black;
    }
    .scrolled{
        padding: 10px;
    }
    .feature{
        padding-top: 80px;
    }
}
@media (min-width: 992px){
    .feature{
        margin-top: -181px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

    }
}
@media (max-width: 768px){
    .container {
        max-width: 540px;
    }
}
@media (max-width: 576px){
    .container {
        max-width: 540px;
    }
    .wrap-about .time span a{
        font-size: 25px;
    }
    .menus .img {
        width: 100%;
        height: 220px;
    }
    .menus .text {
        width: 100%;
    }
    .menus{
        height: 430px;
    }
}
