/*
  Flaticon icon font: Flaticon
  Creation date: 06/10/2018 08:32
  */


@font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.eot");
    src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("fonts/Flaticon.woff") format("woff"),
    url("fonts/Flaticon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.flaticon-meeting:before { content: "\f100"; }
.flaticon-tray:before { content: "\f101"; }
.flaticon-cake:before { content: "\f102"; }